body {
  padding: 0;
  background: white;
  font-family: Helvetica Neue, Arial, sans-serif;
  text-align: center;
}

.header {
  position: absolute;
}

/* Create columns that floats next to each other */
.column1 {
  float: center;
  width: 62%;
  padding: 10px;
  text-align: center;
  margin-right: 10px;
}

.column2 {
  top: 10%;
  float: right;
  width: 37%;
  padding: 10px;
  border: 3px solid black;
  height:50%;
  text-align: left;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.description {
  padding:50px 200px 20px 200px;
  position: absolute;
  text-align: center;
}
.description br{
  size: 10px;
}
.description h1, h2, h3 {
  color: #042039;
}
.description p {
  color: #042039;
  font-size: 15px;
  line-height: 1.5;
}
.description button {
  border:1px solid #9b1c1c;
  background:#9b1c1c;
  border-radius: 0;
  color:#faf9ef;
  margin: 10px;
  font-size: 18px;
  width: 50%;
}
.description button:hover {
  border:1px solid #faf9ef;
  background:#042039;
  color:white;
}
.description a {
    color: #faf9ef;
    text-decoration: none;
}

.description a:hover
{
     color:#d4867e;
     text-decoration:none;
     cursor:pointer;
}

.column2 button {
  background:white;
  border: 1px solid white;
  border-radius: 0;
  color:#042039;
}
.column2 button:hover {
  border-bottom:1px solid #9b1c1c;
  background:white;
  color:#042039;
}

.template {
  padding:50px 200px 20px 200px;
  position: absolute;
  text-align: left;
}
.template br{
  size: 10px;
}
.template h1, h2, h3, h5 {
  color: #042039;
}
.template p {
  color: #042039;
  font-size: 16px;
  line-height: 1.5;
}

.dropdown-btn {
  text-decoration: none;
  font-size: 16px;
  color: #042039;
  display: block;
  border: none;
  background: #faf9ef;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}
.dropdown-container {
  display: none;
  background-color: white;
  padding-left: 8px;
  border-style: dashed;
}

.dropdown-container a {
  font-size: 20px;
  color: #042039;
}

.dropdown-container2 {
  display: none;
  background-color: white;
}
.dropdown-container2 p {
  font-size: 15px;
  color: #042039;
  padding-left: 40px;
  padding-right: 40px;
}

/* caret down icon */
.fa-caret-down {
  float: right;
  size: 20px;
  padding-right: 8px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

@media only screen and (max-width: 600px) {
  .row {
    flex-direction: column;
  }

  .column2, .column1 {
    width: 100%;
  }
  .description {
    margin: 10px auto;
    padding-top:10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom:10px;
    position: relative;
    text-align: center;
  }
  table {
    font-size:10px;
  }
  .template {
    margin: 10px auto;
    padding-top:10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom:10px;
    position: relative;
    text-align: left;
  }
  .footer-img{
    display: relative;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
  .footer-img img{
    margin-left: 0px;
    margin-right: 0px;
  }
}
