body {
  padding: 0;
  background: white;
  font-family: Helvetica Neue, Arial, sans-serif;
  text-align: center;
}
/*--- navigation bar ---*/
.navbar {
  background:white;
  border-bottom: 3px solid transparent;
}
.nav-link,
.navbar-brand {
  color: #00283d;
  cursor: pointer;
}
.nav-link {
  margin-right: 1em !important;
  border-bottom: 3px solid transparent
}
.nav-link:hover {
  color: #9b1c1c;
  border-bottom: 3px solid #042039;
}
.navbar-collapse {
  justify-content: flex-end;
}

.header {
  background-image: url('header-background.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
}
.overlay {
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
}

.wrapper {
  max-width: 1000px;
  margin: 50px auto;
}

.description {
  left: 50%;
  position: absolute;
  top: 45%;
  transform: translate(-50%, -55%);
  text-align: center;
}
.description h1 {
  color: #faf9ef;
}
.description h3 {
  color: #faf9ef;
}
.description p {
  color: #faf9ef;
  font-size: 1.3rem;
  line-height: 1.5;
}
.description button {
  border:1px solid #9b1c1c;
  background:#9b1c1c;
  border-radius: 0;
  color:#faf9ef;
  margin: 20px;
}
.description button:hover {
  border:1px solid #faf9ef;
  background:#042039;
  color:white;
}
.description a {
    color: #faf9ef;
    text-decoration: none;
}

.description a:hover
{
     color:#d4867e;
     text-decoration:none;
     cursor:pointer;
}

/*--- footer ---*/
.page-footer {
  background-color: #042039;
  color: #faf9ef;
  padding: 20px 0 10px;
  width: 100%;
  bottom: 0;
  left: 0;
}
.footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  line-height: 50px;
}
.page-footer p {
  color: #d4867e;
  padding: 5px 0;
}
.footer-img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.footer-img img{
  margin-left: 10px;
  margin-right: 10px;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {

  .description {
    left: 0;
    padding: 0 15px;
    position: absolute;
    top: 10%;
    transform: none;
    text-align: center;
  }
  .description h1 {
    font-size: 2em;
  }
  .description p {
    font-size: 1.2rem;
  }
}
